/*dia2.css*/

#page {
  width: 960px;
  margin: 0 auto;
}

#main, #sidebar {
  float: left;
  margin-left: 20px;
}

#main {
  width: 620px;
}

#sidebar {
  width: 300px;
}

.footer {
  clear: both;
}

.campo {
  margin: 20px 0;
}

.campo label {
  display: inline-block;
  margin-right: right;
  width: 200px;
}

.campo input {
  display: inline-block;
  margin-right: right;
  width: 200px;
}

.campo #numero_cantidad {
  width: 20px;
}
